.App-intro {
  font-size: large;
}

.body-split-1 {
  min-width: 500px;
  min-height: 100%;
  background-color: #ceecee;
}

.body-split-1 {
  min-width: 500px;
  min-height: 100%;
  background-color: #aaaaae;

}